<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zcj.test8">

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="false" />

    <application>
        <activity
            android:name=".Test8Activity"
            android:label="OpenGL 中的平移、缩放和旋转"
            android:screenOrientation="portrait" />
    </application>

</manifest>
