<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zcj.test2">

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application>

        <activity
            android:name=".Test2Activity"
            android:label="等腰三角形和彩色三角形"
            android:screenOrientation="portrait" />

    </application>

</manifest>
